* {
	font-family: "PT Sans";
}
html, body {
	background-image: url(https://subtlepatterns.com/patterns/cream_dust.png);
}
#app {
	width: 90%;
	margin: 0 auto;
}
.sorted {
	position: relative;
	z-index: 0;
}
.btn-container {text-align: center; }

.btn {
	display: inline-block;
	padding: 12px 45px;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-size: 20px;
	margin: 10px 6px;
	cursor: pointer;
	transition: all .6s ease-in-out;
}
.btn:first-of-type {
	margin-left: 0;
}
.btn.btn-add {background-color: #ACE0CA; }
.btn.btn-edit {background-color: #F2B9C2; } 
.btn.btn-delete {background-color: #CF6184; } 
.btn:disabled {background-color: #E5E4C5; } 

.sorted::after {
	content: '';
	display: block;
	width: 100%;
	height: 8px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #fff;
}
.row {
	display: flex;
	width: 100%;
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.row-header {
	font-weight: bold;
}
.col {
	text-align: center;
	border-left: 1px solid rgba(0,0,0,.1);
	padding: 18px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.col:last-child {border-right: 1px solid #cecece;}
.col-1 {width: calc(100%/12); } 
.col-2 {width: calc(100%/6); }

.login-form-back {
	z-index: 999;
	background-image: url(https://subtlepatterns.com/patterns/stardust.png);
}
.checkbox {display: none; }

.check-label {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-size: 100%;
	background-image: url(../img/unchecked.png);
}
.checkbox:checked + label {background-image: url(../img/checked.png); }
.modal-back {
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,.5);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popupForm {
	background-color: #fff;
	width: 300px;
	border-radius: 4px;
	padding: 16px 20px 13px;
}
.centered {text-align: center; } 

.input-title {
	font-size: 22px;
	font-weight: 400;
	color: rgba(51, 51, 51, 0.85);
	margin: 12px 0;
}
.popupForm input[type=text] {
	border: 1px solid #cecece;
	border-radius: 3px;
	padding: 7px 10px;
	background-color: #F2F2F2;
	width: 100%;
	box-sizing: border-box;
}
.btn-save {
	display: block;
	width: 80px;
	margin: 10px auto 0;
	padding: 6px 12px;
	color: #fff;
	font-size: 18px;
	background-color: #95D0CE;
	border: 1px solid #EAEAEA;
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
}

.head-title {
	font-weight: bold;
}
#hidden {
	display: none;
}
.row {
	cursor: -webkit-grab;
}
.row.head-title {
	background-color: rgba(17, 167, 166, 0.39);
	color: #fff;
	cursor: pointer;
}
.row.head-title * {font-weight: 900; }
.gu-transit {
	border: 1px solid #8E2955;
	cursor: pointer !important;
}
.hidden {display: none !important; }

.settings {
	cursor: pointer;
	display: inline-block;
	width: 120px;
	height: 35px;
	background-color: #5F4669;
	border-radius: 5px;
	box-shadow: 0 3px #27496d;
	position: relative;
	border: none;
	margin-top: -3px;
	font-size: 18px;
	text-indent: 28px;
	color:#fff;
}
.settings:hover {
	background-color: #7a6384;
}

.settings-btn::before, 
.settings-save-btn::before,
.settings-logout-btn::before {
	content: '';
	display: block;
	width: 25px;
	height: 25px;
	background-image: url(../img/settings.svg);
	-webkit-background-size: 100%;
	background-size: 100%;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}
.settings-save-btn {text-indent: 14px; }
.settings-save-btn::before {
	background-image: url(../img/save.svg);
}
.settings-logout-btn::before {
	background-image: url(../img/logout.svg);
}
.settings:active {
	box-shadow: 0 1px #27496d;
	outline: 0;
	transform: translateY(1px);
}
button:focus {outline: 0 !important; } 
.settings img {
	width: 30px;
	height: 30px;
}
.control {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.switch {
	display: inline-block;
	margin-left: 20px;
}
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
input.cmn-toggle-round + label {
  padding: 2px;
  width: 110px;
  height: 33px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
  content: "Disabled";
  display: flex;
  align-items: center;
  text-indent: 37px;
  font-size: 14px;
  color: #7b7b84;
}
input.cmn-toggle-round + label:after {
  width: 35px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
  content: "AutoSave";
  display: flex;
  align-items: center;
  font-size: 14px;
  text-indent: 10px;
  color: #fff;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 77px;
}

.settings-form {
	border: 1px solid rgba(0,0,0,.05);
	width: 500px;
	max-width: 90%;
	background-color: #fff;
	border-radius: 4px;
	padding: 12px 20px;
	box-sizing: border-box;
}
.settings-form .title {
	font-size: 22px;
	margin-bottom: 20px;
	display: inline-block;
	color: #BE93A6;
}
.settings-form input[type=text], input[type=password] {
	width: 100%;
	display: block;
	background-color: #FAFAFA;
	border: none;
	box-sizing: border-box;
	padding: 12px 5px;
	color: rgba(0,0,0,.6);
}
.password-input,
.login-input {
	position: relative;
	margin-bottom: 18px;
}
.password-input {margin-bottom: 5px; } 

.password-input input,
.login-input input {
	text-indent: 30px;
}
.password-input:before,
.login-input:before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	background-size: 100%;
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
}
.password-input:before {background-image: url(../img/password.svg); } 
.login-input:before {background-image: url(../img/login.svg); } 


.settings-form input[type=submit] {
	display:block;
	background-color: #BE93A6;
	color: #fff;
	font-size: 22px;
	padding: 4px 22px;
	border: none;
	margin: 15px auto 0;
	border-radius: 4px;
	cursor: pointer;
}
.control-item {margin: 10px 15px; } 

.login-warning {
	color: #CF6184;
	display: inline-block;
	margin-top: 10px;
}
.table {margin: 0 auto; } 
.table-body {
	background-color: #C9E5E6;
	color: #fff;
	font-weight: 900;
}
@media screen and (max-width: 650px) {
	.table-container {
		width: 100%;
		overflow-x: auto;
	}
	.table {
		width: 800px;
	}
	.settings-btn::before, .settings-save-btn::before, .settings-logout-btn::before {
		width: 18px;
		height: 18px;
		left: 5px;
	}
	.control {
		justify-content: space-between;
	}
	.control-item {
		text-indent: 18px;
	}
	.popupForm {
		padding: 10px;
	}
	.popupTitle {
		margin: 10px;
	}
	.input-title {
		font-size: 18px;
	}
}
@media screen and (max-width: 450px) {
	.control {
		justify-content: space-between;
	}
	.control-item {
		width: 50px;
		height: auto;
		padding: 8px 5px;
		margin: 20px 10px;
		font-size: 9px;
		text-indent: 0;
		text-align: center;
	}
	.switch {
		width: 84px;
	}
	.settings-btn::before, .settings-save-btn::before, .settings-logout-btn::before {
		display: none;
	}
	input.cmn-toggle-round + label {
		width: 80px;
	}
	input.cmn-toggle-round:checked + label:after {
	  margin-left: 50px !important;
	}
	input.cmn-toggle-round + label:before,
	input.cmn-toggle-round:checked + label:before {
		font-size: 11px;
		text-indent: 3px;
	}
	input.cmn-toggle-round + label:before {
		text-indent: 37px;
	}
}
@media screen and (max-width: 300px) {
	.control {
		flex-wrap: wrap;
		height: auto;
		align-items: center;
	}
	.control-item {
		width: 100%;
		margin: 2px;
	}
}
@media screen and (max-height: 400px) {
	.popupForm {
		padding: 10px;
	}
	.popupTitle {
		margin: 5px;
	}
	.input-title {
		font-size: 18px;
		margin: 5px;
	}
}
		